@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --descanso: #c05476;
  --ciencias_naturales: #d85675;
  --informatica: #da5234;
  --matematicas: #d6837a;
  --logica_matematica: #e3683e;
  --laboratorio_lector: #dd7835;
  --fisica: #e0963c;
  --ingles: #e0963c;
  --sociales: #d8be5e;
  --artes: #bcc256;
  --ingles_tecnico: #85ad59;
  --geometria: #55b080;
  --logica_filosofica: #489160;
  --quimica: #429a8e;
  --laboratorio_ciencias: #4b99d2;
  --castellano: #668be1;
  --educacion_fisica: #668be1;
  --etica_y_religion: #828bc2;
  --laboratorio_ingles: #ae9cce;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Permanent Marker", serif;
  font-weight: bolder;
}

html {
  font-size: 16px;
}

main {
  width: max-content;
  display: flex;
  background-color: #3c3c3c;
  min-height: 100vh;
}

h4 {
  color: white;
  font-weight: bolder;
}

h2 {
  text-align: center;
  color: white;
  font-weight: bolder;
}

h5,
.hora {
  width: 100%;
  padding: 0.125rem;
  color: white;
  font-weight: 100;
  word-wrap: break-word;
}

.semana_1,
.semana_2 {
  width: 100vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.dia {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.hora {
  display: none;
}

.descanso {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 2.5rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  border-radius: 0.3125rem;
}

.materia {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 9.15rem;
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
  border-radius: 0.3125rem;
}

.ocultar-scroll {
  height: 100vh;
  overflow: hidden;
}

.background {
  position: absolute;
  /* left: 0; */
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.infoMateria {
  position: absolute;
  background-color: grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 1rem;
  gap: 0.5rem;

  & div,
  h5,
  h4 {
    text-align: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  & h4 {
    color: black;
  }
}

.materia:hover {
  cursor: pointer;
}

.materia:nth-child(5) {
  height: 7.5rem;
}

.materia:nth-child(7) {
  height: 8.3rem;
}

.descanso {
  background-color: var(--descanso);
}

.ciencias_naturales {
  background-color: var(--ciencias_naturales);
}

.informatica {
  background-color: var(--informatica);
}

.matematicas {
  background-color: var(--matematicas);
}

.logica_matematica {
  background-color: var(--logica_matematica);
}

.laboratorio_lector {
  background-color: var(--laboratorio_lector);
}

.fisica {
  background-color: var(--fisica);
}

.ingles {
  background-color: var(--ingles);
}

.sociales {
  background-color: var(--sociales);
}

.artes {
  background-color: var(--artes);
}

.ingles_tecnico {
  background-color: var(--ingles_tecnico);
}

.geometria {
  background-color: var(--geometria);
}

.logica_filosofica {
  background-color: var(--logica_filosofica);
}

.quimica {
  background-color: var(--quimica);
}

.laboratorio_ciencias {
  background-color: var(--laboratorio_ciencias);
}

.castellano {
  background-color: var(--castellano);
}

.educacion_fisica {
  background-color: var(--educacion_fisica);
}

.etica_y_religion {
  background-color: var(--etica_y_religion);
}

.laboratorio_ingles {
  background-color: var(--laboratorio_ingles);
}

@media (max-width: 450px) {
  html,
  body {
    min-height: 100vh;
    overflow-y: auto;
  }
}
